/*  전체 */
* {margin: 0 auto; list-style: none; text-decoration: none; color: black;}
a {color: inherit;}
a:hover {color: inherit}
body {width:1000px;}

/*  헤더 */
header {height: 120px;}
.logo {float: left; width: 80px; margin-top: 20px;}
.nav {float: right; margin-top: 20px; width: 600px; height: 20px;}
.nav>li {
    float: left;
    text-align: center;
    width: 200px;
    background-color:rgb(245, 245, 234);
    padding: 10px 0;
}
.nav>li:hover {
    background-color:rgb(1, 1, 108);
    color: white;
}
#login {
    clear: both;
    text-align: right;
    margin-top: 20px;
    padding-right: 20px;
}

/* 본문 이미지 */
#imgslide {clear: both; width:1000px; height: 362px; margin: 10px 0; overflow: hidden;}
#imgslide>img {position: absolute; }