<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <servlet>
    <description></description>
    <display-name>ServletTest1</display-name>
    <servlet-name>ServletTest1</servlet-name>
    <servlet-class>ServletTest1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletTest1</servlet-name>
    <url-pattern>/ServletTest1</url-pattern>
  </servlet-mapping>
  <display-name>ch04_servlet</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ServletTest2</display-name>
    <servlet-name>ServletTest2</servlet-name>
    <servlet-class>ServletTest2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletTest2</servlet-name>
    <url-pattern>/ServletTest2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetServlet3</display-name>
    <servlet-name>GetServlet3</servlet-name>
    <servlet-class>GetServlet3</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetServlet3</servlet-name>
    <url-pattern>/GetServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PostServlet4</display-name>
    <servlet-name>PostServlet4</servlet-name>
    <servlet-class>PostServlet4</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PostServlet4</servlet-name>
    <url-pattern>/PostServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet5</display-name>
    <servlet-name>LoginServlet5</servlet-name>
    <servlet-class>LoginServlet5</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet5</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
</web-app>