<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <servlet>
    <description></description>
    <display-name>BoardPostServlet</display-name>
    <servlet-name>BoardPostServlet</servlet-name>
    <servlet-class>board.BoardPostServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BoardPostServlet</servlet-name>
    <url-pattern>/board/boardPost</url-pattern>
  </servlet-mapping>
  <display-name>ch11_homepage</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>BoardUpdateServlet</display-name>
    <servlet-name>BoardUpdateServlet</servlet-name>
    <servlet-class>board.BoardUpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BoardUpdateServlet</servlet-name>
    <url-pattern>/board/boardUpdate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BoardReplyServlet</display-name>
    <servlet-name>BoardReplyServlet</servlet-name>
    <servlet-class>board.BoardReplyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BoardReplyServlet</servlet-name>
    <url-pattern>/board/boardReply</url-pattern>
  </servlet-mapping>
</web-app>